@import 'variables';
@import 'mixins';

* {
	@include reset;
}

body {
	font-family: $primary-font;
	background-color: $color-beige-100;
}

h1,
h2 {
	font-weight: 700;
}

h1 {
	font-size: 6rem;
	line-height: 1.09;
	letter-spacing: 0.02em;

	@media (max-width: $sm) {
		font-size: 2.125rem;
		line-height: 1.12;
	}
}

h2 {
	font-size: 3.6875rem;
	line-height: 1.24;

	@media (max-width: $sm) {
		font-size: 2.125rem;
		line-height: 1.12;
	}
}

h3 {
	font-weight: 500;
	font-size: 2.1875rem;
	line-height: 1.22;

	@media (max-width: $sm) {
		font-size: 1.4375rem;
		line-height: 1.2;
		letter-spacing: 0.04em;
	}
}

textarea {
	font-family: inherit;
}

section {
	margin-top: 8.4375rem;

	@media (max-width: $sm) {
		margin-top: 4.6875rem;
	}
}

li {
	@include list-reset;
}

a {
	@include link-reset;
}

p.normal,
p.small {
	font-weight: 400;
	line-height: 1.42;
}

p.big {
	font-weight: 700;

	font-size: 1.4375rem;
	line-height: 1.22;

	@include p-mobile;
}

p.normal {
	font-size: 1.25rem;

	@include p-mobile;
}

p.small {
	font-size: 1.0625rem;
	letter-spacing: -0.01em;

	@include p-mobile;
}

.container {
	@include container(1170px, 55px);

	@media (max-width: $sm) {
		@include container(1170px, 20px);
	}
}

.title {
	@include title;
}

.subtitle {
	@include subtitle;
}

@import 'header/header';
@import 'tour/tour';
@import 'find/find';
@import 'reviews/reviews';
@import 'photos/photos';
