@mixin p-mobile {
	@media (max-width: $sm) {
		font-size: 1rem;
		line-height: 1.42;
	}
}

@mixin reset {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@mixin list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin link-reset {
	text-decoration: none;
	color: inherit;
}

@mixin hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

@mixin container($width, $padding) {
	max-width: calc($width + $padding * 2);
	padding: 0 $padding;
	margin: 0 auto;
}

@mixin title {
	text-align: center;
}

@mixin subtitle {
	max-width: 409px;
	text-align: center;
	margin: 0 auto;
	color: $color-gray-300;
	margin-top: 1.875rem;

	@media (max-width: $sm) {
		margin-top: 1.25rem;
	}
}
