@mixin p-mobile {
	@media (max-width: $sm) {
		font-size: 1rem;
		line-height: 1.42;
	}
}

@mixin reset {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@mixin list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin link-reset {
	text-decoration: none;
	color: inherit;
}
