.head {
	height: 100vh;
	margin-top: 0;
	background-image: url('../assets/images/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $color-white;
	
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

	&__title {
		@media (max-width: $sm) {
			max-width: 360px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 4.5rem;
	}

	&__subtitle {
		max-width: 610px;
		margin-top: 3.125rem;
		color: $color-white;

		@media (max-width: $lg) {
			max-width: 450px;
		}

		@media (max-width: $sm) {
			margin-top: 2.5rem;
			max-width: 310px;
		}
	}

	&__button {
		cursor: pointer;
		border: none;
		margin-top: 3.125rem;
		border-radius: 10px;
		padding: 5px 20px;
		background-color: $color-white;

		font-size: 1.0625rem;
		line-height: 1.42;
		letter-spacing: -0.01em;

		transition: $main-transition;

		&:hover {
			background-color: $color-orange-200;
			color: $color-white;
		}

		&:active {
			background-color: $color-orange-100;
			color: $color-black;
		}

		@media (max-width: $sm) {
			margin-top: 2.5rem;
			font-size: 1rem;
		}
	}
}
