.reviews {
	&__title {
		max-width: 530px;
		margin: 0 auto;

		@media (max-width: 359px) {
			font-size: 1.88rem;
		}
	}

	&__items {
		display: flex;
		margin-top: 6.25rem;
		justify-content: center;
		gap: 1.88rem;

		@media (max-width: $lg) {
			gap: 1.13rem;
		}

		@media (max-width: $md) {
			flex-direction: column;
			align-items: center;
		}

		@media (max-width: $sm) {
			margin-top: 3.13rem;
			gap: 1.13rem;
		}
	}

	&__item {
		display: flex;
		max-width: 570px;
		padding: 2.5rem;
		flex-direction: column;
		justify-content: space-between;

		background-color: $color-beige-200;
		border-radius: 50px;

		@media (max-width: $lg) {
			width: 100%;
		}

		@media (max-width: $sm) {
			padding: 21px;

			border-radius: 20px;
		}
	}

	&__text p {
		margin-top: 1.5rem;
	}

	&__text p:first-child {
		margin-top: 0;
	}

	&__author {
		display: flex;
		margin-top: 4.38rem;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $sm) {
			margin-top: 2.5rem;
			align-items: end;
		}
	}

	&__author-tour {
		margin-top: 0.5rem;

		color: $color-gray-300;
	}

	&__avatar {
		width: 75px;
		height: 75px;

		border-radius: 100%;

		overflow: hidden;

		img {
			display: block;
			max-width: 100%;
		}
	}
}
