.tour {
	&__tabs {
		display: flex;
		margin-top: 2.19rem;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.88rem;

		@media (max-width: $sm) {
			margin-top: 1.88rem;
			gap: 0.63rem;
		}
	}

	&__tab {
		position: relative;

		font-weight: 700;
		font-size: 1.43rem;
		line-height: 1.22;

		background: transparent;
		border: none;

		transition: $main-transition;

		cursor: pointer;

		@media (max-width: $sm) {
			font-size: 16px;
			line-height: 1.42;
		}

		&::before {
			content: '';

			position: absolute;
			left: 0;
			bottom: -6px;

			width: 0;
			height: 2px;

			background-color: $color-black;
			opacity: 0;

			transition: $main-transition;

			@media (max-width: $sm) {
				bottom: 0;
			}
		}

		&:not(&--active):hover::before {
			width: 100%;
			opacity: 1;
		}

		&--active {
			color: $color-orange-200;
		}

		&--active::before {
			width: 100%;

			background-color: $color-orange-200;
			opacity: 1;
		}
	}

	&__cards {
		display: grid;
		margin-top: 6.25rem;
		grid-template-columns: repeat(3, 370px);
		grid-template-rows: repeat(2, 533px);
		gap: 1.88rem;

		@media (max-width: $xl) {
			grid-template-columns: repeat(2, minmax(450px, 1fr));
			grid-template-rows: repeat(3, 533px);
			place-content: center;
			gap: 1.13rem;
		}

		@media (max-width: $md) {
			display: flex;
			flex-direction: column;
		}

		@media (max-width: $sm) {
			margin-top: 3.13rem;
		}
	}

	&__card {
		cursor: pointer;

		position: relative;
		z-index: 5;

		padding: 3.56rem 3.13rem;

		color: $color-white;

		transition: $main-transition;

		@media (max-width: $md) {
			height: 530px;
		}

		@media (max-width: $sm) {
			width: 100%;
			height: 318px;
			padding: 1.56rem;
		}
	}

	&__card:hover &__button {
		background-color: $color-green-400;
	}

	&__card:active &__button {
		background-color: $color-orange-200;
	}

	&__card:hover &__button::after {
		transform: translateX(5px);
	}

	&__image__wrapper {
		position: absolute;
		left: 0;
		top: 0;

		display: inline-block;
		width: 100%;
		height: 100%;

		background: linear-gradient(
			360deg,
			rgba(0, 0, 0, 0.4) 0%,
			rgba(0, 0, 0, 0.06) 48.44%,
			rgba(0, 0, 0, 0.5) 100%
		);
		border-radius: 50px;

		overflow: hidden;
		@media (max-width: $sm) {
			border-radius: 20px;
		}
	}

	&__image {
		position: absolute;
		inset: 0;
		z-index: -1;

		display: block;
		width: 100%;
		height: 100%;
		
		border-radius: 50px;
		object-fit: cover;
		object-position: left center;

		transition: $main-transition;

		@media (max-width: $sm) {
			border-radius: 20px;
		}
	}

	&__card:hover &__image {
		transform: scale(1.2);
	}

	&__content,
	&__button {
		position: inherit;
		z-index: 2;
	}

	&__price {
		margin-top: 1rem;

		@media (max-width: $sm) {
			margin-top: 0.81rem;
		}
	}

	&__button {
		position: absolute;
		left: 30px;
		bottom: 40px;

		padding: 7px 62px 6px 19px;
		
		font-size: 1.38rem;

		@media (max-width: $sm) {
			left: 6px;
			bottom: 18px;

			font-size: 0.9rem;
			line-height: 1.56rem;
		}
	}
}
