.photos {
	&__items {
		margin: 0 auto;
		margin-top: 6.25rem;
		padding: 0 1.575rem;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		gap: 1.4625vw 0.9625vw;

		@media (max-width: $lg) {
			column-gap: 1.953vw;
			row-gap: 3.129vw;
			padding: 0;
			justify-content: center;
		}

		@media (max-width: $sm) {
			column-gap: 2.77vw;
			row-gap: 5vw;
			margin-top: 3.125rem;
		}
	}

	&__item {
		width: 23.125vw;
		height: 15.677vw;
		overflow: hidden;
		border-radius: 2.6vw;

		@media (max-width: $lg) {
			width: 30.729vw;
			height: 29.2vw;
			border-radius: 4.9vw;
		}

		@media (max-width: $sm) {
			width: 42.777vw;
			height: 30.6vw;
			border-radius: 5.6vw;
		}

		&--narrow {
			width: 18.1vw;
			@media (max-width: $lg) {
				width: 22.6vw;
			}

			@media (max-width: $sm) {
				width: 27.6vw;
			}
		}

		&--lg {
			@media (max-width: $lg) {
				display: none;
			}
		}

		&--sm {
			@media (max-width: $sm) {
				display: none;
			}
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
