.stories {

	&__items {
		margin-top: 6.25rem;

		@media (max-width: $sm) {
			margin-top: 3.125rem;
		}
	}

	&__items {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 3.125rem;

		@media (max-width: $sm) {
			gap: 1.25rem;
		}
	}

	&__item {
		cursor: pointer;
		overflow: hidden;
		position: relative;
		border-radius: 50px;
		padding: 3.75rem;
		color: $color-white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background: linear-gradient(
			270deg,
			rgba(0, 0, 0, 0) 0.01%,
			rgba(0, 0, 0, 0.2) 100%
		);

		@media (max-width: $md) {
			padding: 1.875rem;
		}

		@media (max-width: $sm) {
			border-radius: 20px;
		}

		&:hover &-image {
			transform: scale(1.2);
		}

		&:hover &-button {
			background-color: $color-green-400;
		}

		&:active &-button {
			background-color: $color-orange-200;
		}

		&:hover &-button::after {
			transform: translateX(5px);
		}
	}

	&__item-title {
		@media (max-width: $sm) {
			max-width: 62%;
		}
	}

	&__item-image {
		display: block;
		width: 100%;
		height: 100%;
		z-index: -1;
		position: absolute;
		inset: 0;
		border-radius: 50px;
		transition: $main-transition;
		object-fit: cover;
		object-position: 50% 50%;

		transition: $main-transition;

		@media (max-width: $sm) {
			border-radius: 20px;
		}
	}

	&__item-text {
		max-width: 554px;
		margin-top: 2.3125rem;

		@media (max-width: $sm) {
			margin-top: 1.25rem;
		}
	}

	&__item-list {
		margin-top: 1.6rem;
		margin-left: 2rem;

		font-size: 1.25rem;
		line-height: 1.42;

		@media (max-width: $sm) {
			font-size: 1rem;
			line-height: 1.42;
			margin-left: 1.5rem;
		}

		li {
			list-style-type: disc;
		}
	}

	&__item__footer {
		margin-top: 14.0875rem;

		display: flex;
		align-items: center;

		@media (max-width: $sm) {
			margin-top: 11.4375rem;
		}

		&--big {
			margin-top: 7.1875rem;

			@media (max-width: $sm) {
				margin-top: 5.625rem;
			}
		}
	}

	&__item-links {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: 2.1875rem;

		@media (max-width: 540px) {
			@include hidden;
		}
	}

	&__item-button {
		position: absolute;
		left: 38px;
		font-size: 1.375rem;

		&::after {
			right: 19px;
		}

		@media (max-width: $sm) {
			font-size: 0.9375rem;
			left: 10px;
			bottom: 24px;
		}
	}

	&__item-link {
		position: relative;
		transition: $main-transition;

		&::after {
			content: '';
			width: 0;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: -2px;
			background-color: $color-white;
			opacity: 0;
			transition: $main-transition;
		}

		&:hover::after {
			width: 100%;
			opacity: 1;
		}

		&:active {
			color: $color-orange-200;
		}

		&:active::after {
			background-color: $color-orange-200;
		}
	}
}
