.header {
	position: absolute;
	z-index: 10;

	width: 100%;

	color: $color-white;
}

.hidden-nav {
	opacity: 0;

	visibility: hidden;
	pointer-events: none;
}

.visible-nav {
	opacity: 1;

	visibility: visible;
	pointer-events: all;
}

.nav {
	padding-top: 1.55rem;

	font-size: 1.25rem;
	line-height: 1.42;

	@media (max-width: $lg) {
		padding-top: 1.675rem;
	}

	@media (max-width: $lg) {
		padding-top: 2.0313rem;
	}

	&__header--fixed {
		@extend .hidden-nav;

		position: fixed;
		z-index: 20;

		width: 100%;
		padding: 1.75rem 0;

		background-color: rgba(243, 239, 232, 0.6);

		transition: $main-transition;

		backdrop-filter: blur(54px);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--fixed {
			color: $color-black;
			@include container(1170px, 55px);

			@media (max-width: $sm) {
				@include container(1170px, 20px);
			}
		}
	}

	&__menu-list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3.125rem;

		@media (max-width: $lg) {
			gap: 1.875rem;
		}

		@media (max-width: $md) {
			@include hidden;
		}
	}

	&__menu-phone {
		@media (max-width: $sm) {
			font-size: 1rem;
		}
	}

	&__menu-item::before,
	&__menu-phone::before {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;

		width: 0;
		height: 1px;

		background-color: $color-white;
		opacity: 0;

		transition: $main-transition;
	}

	&__menu-item,
	&__menu-phone {
		position: relative;

		&--fixed::before {
			background-color: $color-black;
		}
	}

	&__menu-item:hover::before,
	&__menu-phone:hover::before {
		width: 100%;
		
		opacity: 1;
	}
}
