.header {
	padding-bottom: 7.5rem;
	background-image: url('../assets/images/header-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: $color-white;

	@media (max-width: $sm) {
		padding-bottom: 3.25rem;
	}

	&__main__wrapper {
		margin-top: 7.5rem;

		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: $sm) {
			margin-top: 3.25rem;
		}
	}

	&__main-subtitle {
		max-width: 610px;
		margin-top: 3.125rem;
		color: $color-white;

		@media (max-width: $sm) {
			margin-top: 2.5rem;
		}
	}

	&__main-button {
		cursor: pointer;
		border: none;
		margin-top: 3.125rem;
		border-radius: 10px;
		padding: 5px 20px;
		background-color: $color-white;

		font-size: 1.0625rem;
		line-height: 1.42;
		letter-spacing: -0.01em;

		transition: $main-transition;

		&:hover {
			background-color: $color-orange-200;
		}

		&:active {
			background-color: $color-orange-100;
		}

		@media (max-width: $sm) {
			margin-top: 2.5rem;
			font-size: 1rem;
		}
	}
}

.hidden-nav {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.visible-nav {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

.nav {
	font-size: 1.25rem;
	line-height: 1.42;
	padding-top: 0.9375rem;

	&__header--fixed {
		@extend .hidden-nav;

		transition: $main-transition;

		backdrop-filter: blur(54px);
		background-color: rgba(243, 239, 232, 0.6);
		padding: 1.75rem 0;
		position: fixed;
		width: 100%;
		z-index: 20;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--fixed {
			color: $color-black;
			@include container(1170px, 55px);

			@media (max-width: $sm) {
				@include container(1170px, 20px);
			}
		}
	}

	&__menu-list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3.125rem;

		@media (max-width: $lg) {
			gap: 1.875rem;
		}

		@media (max-width: $md) {
			@include hidden;
		}
	}

	&__menu-phone {
		@media (max-width: $sm) {
			font-size: 1rem;
		}
	}

	&__menu-item::before,
	&__menu-phone::before {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		opacity: 0;
		height: 1px;
		background-color: $color-white;
		transition: $main-transition;
	}

	&__menu-item,
	&__menu-phone {
		position: relative;

		&--fixed::before {
			background-color: $color-black;
		}
	}

	&__menu-item:hover::before,
	&__menu-phone:hover::before {
		width: 100%;
		opacity: 1;
	}

	// FIXED NAVBAR
}
