.header {
	position: absolute;
	z-index: 10;

	width: 100%;

	color: $color-white;

	&--fixed {
		position: fixed;

		padding-bottom: 1.75rem;

		color: $color-black;
		background-color: rgba(243, 239, 232, 0.6);

		transition: $main-transition;

		backdrop-filter: blur(54px);
	}
}

.nav {
	padding-top: 1.75rem;

	font-size: 1.25rem;
	line-height: 1.42;

	@media (max-width: $lg) {
		padding-top: 1.68rem;
	}

	@media (max-width: $lg) {
		padding-top: 2.03rem;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--fixed {
			color: $color-black;
			@include container(1170px, 55px);

			@media (max-width: $sm) {
				@include container(1170px, 20px);
			}
		}
	}

	&__logo-image {
		display: none;
	}

	&__menu-list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3.13rem;

		@media (max-width: $lg) {
			gap: 1.88rem;
		}

		@media (max-width: $md) {
			@include hidden;
		}
	}

	&__menu-phone {
		@media (max-width: $sm) {
			font-size: 1rem;
		}
	}

	&__menu-item::before,
	&__menu-phone::before {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;

		width: 0;
		height: 1px;

		background-color: $color-white;
		opacity: 0;

		transition: $main-transition;
	}

	&__menu-item,
	&__menu-phone {
		position: relative;

		&--fixed::before {
			background-color: $color-black;
		}
	}

	&__menu-item:hover::before,
	&__menu-phone:hover::before {
		width: 100%;

		opacity: 1;
	}
}

.visible-logo {
	display: block;
}
